<mat-card 
[ngClass]="{
    'field-card':true,
    'editing-card':editMode
}"
(mouseenter)="mouseOverField()"
(mouseleave)="mouseLeaveField()">
    <mat-card-header>
        <mat-card-title>
            <div class="field-header flex-vertical-center">
                <ng-container *ngIf="!editMode">
                    <span class="field-name-header">
                        Edit {{currentField.name}}
                    </span>
                </ng-container>
                <ng-container *ngIf="editMode">
                    <span>
                        <mat-form-field 
                        class="example-full-width" 
                        (click)="$event.stopPropagation()">
                            <input [(ngModel)]="currentField.name" matInput name="field-name">
                        </mat-form-field>
                    </span>
                </ng-container>
                <ng-container *ngIf="!editMode">
                    <button
                    [ngClass]="{
                        'blank-button':true, 
                        'icon-button-sizing':true,
                        'hidden':!mouseOver
                    }"
                    (click)="$event.stopPropagation();setEditing(true);"
                    matRipple
                    matTooltip="Edit Field">
                        <mat-icon [inline]="true">
                            edit
                        </mat-icon>
                    </button>
                </ng-container>
                <ng-container *ngIf="editMode">
                    <button
                    class="blank-button icon-button-sizing"
                    (click)="$event.stopPropagation(); onConfirmClicked();"
                    matRipple
                    matTooltip="Edit Section Name">
                        <mat-icon [inline]="true">
                            check
                        </mat-icon>
                    </button>
                    <button
                    [ngClass]="{
                        'blank-button':true, 
                        'icon-button-sizing':true
                    }"
                    (click)="$event.stopPropagation();onCancelClicked();"
                    matRipple
                    matTooltip="Cancel Field Edits">
                        <mat-icon [inline]="true">
                            close
                        </mat-icon>
                    </button>
                </ng-container>
            </div>
        </mat-card-title>
    </mat-card-header>
    <div>
        <div>
            <ng-container *ngIf="!editMode">
                <!-- <h6 class="header">
                    Field Type: {{currentField.fieldType}}
                </h6> -->
            </ng-container>
            <ng-container *ngIf="editMode">
                <mat-form-field class="full-input">
                    <mat-select 
                    (selectionChange)="typeChange()"
                    [(ngModel)]="currentField.fieldType" 
                    name="field-select">
                        <mat-option 
                        *ngFor="let type of fieldTypes.types"
                        [value]="type.name">
                            {{type.displayName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
        </div>
        <div class="preview-container">
            <div>
                <h6 class="header">Field Preview:</h6>
                <hr>
            </div>
            <div>
                <app-custom-field [field]="field"></app-custom-field>
            </div>
        </div>
    </div>
</mat-card>
