<mat-card 
[ngClass]="{
    'field-card':true,
    'editing-card':editMode
}"
(mouseenter)="mouseOverField()"
(mouseleave)="mouseLeaveField()">
    <mat-card-header>
        <mat-card-title>
            <div class="field-header flex-vertical-center">
                <ng-container *ngIf="!editMode">
                    <span class="field-name-header">
                        {{currentField.name}}
                    </span>
                </ng-container>
                <ng-container *ngIf="editMode">
                    <span>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span 
                                class="input-group-text"
                                (click)="$event.stopPropagation()">
                                    Field Name
                                </span>
                            </div>
                            <input 
                            class="form-control"
                            [(ngModel)]="currentField.name"
                            required
                            type="text"
                            name="field-name"
                            (click)="$event.stopPropagation()">
                        </div>     
                    </span>
                </ng-container>
                <ng-container *ngIf="!editMode">
                    <app-form-edit-controls 
                    [hidden]="!mouseOver"
                    [hideAddButton]="true"
                    (editModeUpdated)="setEditing($event)"></app-form-edit-controls>
                </ng-container>
                <ng-container *ngIf="editMode">
                    <button
                    class="blank-button icon-button-sizing"
                    (click)="$event.stopPropagation(); onConfirmClicked();"
                    matRipple
                    matTooltip="Save Edits">
                        <mat-icon [inline]="true">
                            check
                        </mat-icon>
                    </button>
                    <button
                    [ngClass]="{
                        'blank-button':true, 
                        'icon-button-sizing':true
                    }"
                    (click)="$event.stopPropagation();onCancelClicked();"
                    matRipple
                    matTooltip="Cancel Field Edits">
                        <mat-icon [inline]="true">
                            close
                        </mat-icon>
                    </button>
                </ng-container>
            </div>
        </mat-card-title>
    </mat-card-header>
    <div>
        <div>
            <ng-container *ngIf="editMode">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label 
                        class="input-group-text" 
                        for="field-types"
                        (click)="$event.stopPropagation()">
                            Type
                        </label>
                    </div>
                    <select 
                    class="custom-select" 
                    id="field-types"
                    [(ngModel)]="currentField.fieldType"
                    (change)="typeChange()">
                        <option 
                        *ngFor="let type of fieldTypes.types"
                        [value]="type.name">
                            {{type.displayName}}
                        </option>
                    </select>
                </div>
                <ng-container *ngIf="currentField.fieldType === fieldTypes.dropdown || currentField.fieldType === fieldTypes.radio || currentField.fieldType === fieldTypes.checkbox">
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span 
                                class="input-group-text"
                                (click)="$event.stopPropagation()">
                                    New Option
                                </span>
                                <button 
                                class="btn btn-outline-secondary dropdown-toggle" type="button" 
                                data-toggle="dropdown" 
                                aria-haspopup="true" 
                                aria-expanded="false">All Options</button>
                                <div class="dropdown-menu">
                                    <ng-container *ngFor="let option of currentField.fieldOptions">
                                        <div 
                                        class="flex-center" 
                                        (click)="$event.stopPropagation()">
                                            <span
                                            class="option-name">
                                                {{option}}
                                            </span>
                                            <span>
                                                <button
                                                class="blank-button icon-button-sizing"
                                                (click)="$event.stopPropagation();removeOption(option);"
                                                matRipple
                                                matTooltip="Remove Option">
                                                    <mat-icon [inline]="true">
                                                        close
                                                    </mat-icon>
                                                </button>
                                            </span>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <input 
                            class="form-control"
                            [(ngModel)]="newOption"
                            required
                            type="text"
                            name="option-name"
                            (click)="$event.stopPropagation()">
                            <div class="input-group-append">
                                <button
                                class="btn btn-outline-secondary"
                                (click)="$event.stopPropagation(); addOption();"
                                matRipple
                                matTooltip="Save Edits">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="preview-container">
            <div>
                <hr>
            </div>
            <div class="preview">
                <h6>Field Preview:</h6>
                <app-custom-field 
                [field]="currentField"
                [fieldType]="currentField.fieldType"></app-custom-field>
            </div>
        </div>
    </div>
</mat-card>
