<div>
    <h6>Trash</h6>
    <div class="icon-container">
        <mat-icon 
            class="material-icons-outlined  icon-spacing" 
            aria-hidden="false" 
            aria-label="tag">
            folder_outline
        </mat-icon>
        <span>
            Folders
        </span>
    </div>
    <div class="icon-container">
        <mat-icon 
            class="material-icons-outlined  icon-spacing" 
            aria-hidden="false" 
            aria-label="tag">
            local_offer
        </mat-icon>
        <span>
            Tags
        </span>
    </div>
</div>