<div [ngStyle]="{'margin-left':sectionSpace + 'px'}">
    <div 
    class="flex-vertical-center section"
    matRipple
    (click)="expandSection()"
    (mouseenter)="mouseOverSection()"
    (mouseleave)="mouseLeaveSection()">
        <mat-icon 
        [ngClass]="{
            'open-icon':true,
            'close-icon':sectionExpanded
        }"
        aria-hidden="false" 
        aria-label="expand folder">chevron_right</mat-icon>
        <span>
            <h6 class="section-header">
                {{section.name}}
            </h6>
        </span>
        <ng-container *ngIf="isEditing && overSection">
            <button
            class="blank-button edit-button"
            (click)="$event.stopPropagation()"
            matRipple
            matTooltip="Edit Section Name">
                <mat-icon [inline]="true">
                    edit
                </mat-icon>
            </button>
            <ng-container *ngIf="overSection">
                <div [ngClass]="{
                    'add-buttons':true
                }">
                    <button
                        class="blank-button add-button"
                        (click)="$event.stopPropagation()"
                        matRipple
                        matTooltip="Add Section">
                            <mat-icon [inline]="true">
                                add_circle_outline
                            </mat-icon>
                    </button>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div *ngIf="sectionExpanded" [@enterAnimation]>
        <app-form-child 
        [combinedChildren]="section.combinedChildren"
        [sectionSpace]="childSpacing"></app-form-child>
    </div>
</div>