<div
class="form-section"
[ngStyle]="{'margin-left':sectionSpace + 'px'}">
    <div 
    class="flex-vertical-center section form-section-header"
    matRipple
    (click)="expandSection()"
    (mouseenter)="mouseOverSection()"
    (mouseleave)="mouseLeaveSection()">
        <mat-icon 
        [ngClass]="{
            'open-icon':true,
            'close-icon':sectionExpanded
        }"
        aria-hidden="false" 
        aria-label="expand folder">chevron_right</mat-icon>
        <span class="section-header-container">
            <ng-container *ngIf="!editMode">
                <h5 class="section-header">
                    {{section.name}}
                </h5>
            </ng-container>
            <ng-container *ngIf="editMode">
                <app-edit-form-section 
                [section]="section"
                (confirmClicked)="confirmClicked()"
                (cancelClicked)="cancelClicked()"></app-edit-form-section>
            </ng-container>
        </span>
        <ng-container *ngIf="isEditing && !editMode">
            <app-form-edit-controls 
            [hidden]="!overSection"
            (editModeUpdated)="setEditMode($event)"
            (addNewSection)="sectionAdded()"
            (addNewField)="fieldAdded()"></app-form-edit-controls>
        </ng-container>
    </div>
    <div *ngIf="sectionExpanded" [@enterAnimation]>
        <app-form-child 
        [combinedChildren]="section.combinedChildren"
        [sectionSpace]="childSpacing"></app-form-child>
    </div>
</div>