<div class="action-bar">
    <div class="logo">
        <h3>Logo here</h3>
    </div>
    <div class="action-items-container">
        <div class="action-items">
            <button mat-icon-button aria-label="action bar search">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button aria-label="action bar mail">
                <mat-icon>email</mat-icon>
            </button>
            <button mat-icon-button aria-label="action bar notifications">
                <mat-icon>notifications</mat-icon>
            </button>
            <button mat-icon-button aria-label="action bar list">
                <mat-icon>format_list_bulleted</mat-icon>
            </button>
            <button mat-icon-button aria-label="action bar more">
                <mat-icon>more_vert</mat-icon>
            </button>
            <button mat-icon-button aria-label="action bar messages">
                <mat-icon>message</mat-icon>
            </button>
        </div>
        <div class="user-logo">
            <h3>user logo</h3>
        </div>
    </div>
</div>