<div class="action-bar">
    <div class="logo">
        <h3>Logo here</h3>
    </div>
    <div class="action-items-container">
        <div class="action-items">
            <mat-icon>search</mat-icon>
            <mat-icon>email</mat-icon>
            <mat-icon>notifications</mat-icon>
            <mat-icon>format_list_bulleted</mat-icon>
            <mat-icon>more_vert</mat-icon>
            <mat-icon>message</mat-icon>
        </div>
        <div class="user-logo">
            <h3>user logo</h3>
        </div>
    </div>
</div>