<form class="flex section-form">
    <input 
    class="form-control"
    [(ngModel)]="sectionName"
    required
    type="text"
    name="section-name"
    (click)="$event.stopPropagation()">
    <button
    class="blank-button icon-button-sizing"
    (click)="$event.stopPropagation(); onConfirmClicked();"
    matRipple
    matTooltip="Edit Section Name">
        <mat-icon [inline]="true">
            check
        </mat-icon>
    </button>
    <button
    class="blank-button icon-button-sizing"
    (click)="$event.stopPropagation(); onCancelClicked()"
    matRipple
    matTooltip="Edit Section Name">
        <mat-icon [inline]="true">
            close
        </mat-icon>
    </button>
</form>