<!-- <mat-form-field class="full-input">
    <mat-label>{{formSelectLabel}}</mat-label>
    <mat-select 
    (selectionChange)="onFormSelected()"
    [(ngModel)]="selectedFormId" 
    name="form-select">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let form of forms" [value]="form.id">
        {{form.name}}
        </mat-option>
    </mat-select>
</mat-form-field> -->
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label 
        class="input-group-text" 
        for="forms">
            {{formSelectLabel}}
        </label>
    </div>
    <select 
    class="custom-select" 
    id="forms"
    [(ngModel)]="selectedFormId"
    (change)="onFormSelected()">
        <option value="null">New Form</option>
        <option 
        *ngFor="let form of forms"
        [value]="form.id">
            {{form.name}}
        </option>
    </select>
</div>