<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label 
        class="input-group-text" 
        for="forms">
            {{formSelectLabel}}
        </label>
    </div>
    <select 
    class="custom-select" 
    id="forms"
    [(ngModel)]="selectedFormId"
    (change)="onFormSelected()">
        <option [value]="null">{{isEditing ? 'New Form' : 'None'}}</option>
        <option 
        *ngFor="let form of forms;trackBy: trackByFn"
        [value]="form.id">
            {{form.name}}
        </option>
    </select>
</div>