<ng-container *ngFor="let child of combinedChildren">
    <div>
        <ng-container *ngIf="child.type === sectionType">
            <app-custom-form-section
            [section]="child"
            [sectionSpace]="sectionSpace"></app-custom-form-section>
        </ng-container>
        <ng-container *ngIf="child.type === fieldType">
            <ng-container *ngIf="!isEditing">
                <app-custom-field
                [field]="child"
                [fieldType]="child.fieldType"></app-custom-field>
            </ng-container>
            <ng-container *ngIf="isEditing">
                <app-edit-field
                [field]="child"></app-edit-field>
            </ng-container>
        </ng-container>
    </div>
</ng-container>
