<div class="color-1 base-padding">
    <div class="patient-info">
        <h6>
            {{item.name}}
        </h6>
        <div class="product-link">
            <a class="color-1" href="https://a360.co/3xiCBhf" target="_blank">Live Link</a>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <ul class="details-list patient-details">
                    <li><span class="color-2">Age:</span> 65</li>
                    <li><span class="color-2">Weight:</span> 215 lbs</li>
                    <li><span class="color-2">Heigth:</span> 6'1"</li>
                    <li><span class="color-2">Shoe Size:</span> 11 (27cm)</li>
                    <li><span class="color-2">Ankle Height:</span> 10cm (5in)</li>
                </ul>
            </div>
            <div class="device-image-container col-lg-8">
                <img class="device-image" src="assets/demo/RamBlankproof.jpg">
            </div>
        </div>
    </div>
    <div class="device-info">
        <h6>Production</h6>
        <div class="row">
            <div class="patient-details col-lg-4">
                <ul class="details-list device-details">
                    <li>Ankle foot orthotic (AFO)</li>
                    <li>KAFO</li>
                    <li>FO</li>
                </ul>
            </div>
            <div class="device-image-container col-lg-8">
                <img class="device-image" src="assets/demo/RamHexProof.jpg">
            </div>
        </div>
    </div>
    <div class="treatment-info">
        <h6>Orthotic Information</h6>
        <div class="row">
            <div class="col-lg-4">
                <ul class="device-details">
                    <li><span class="color-2">Side:</span> Right Leg</li>
                    <li><span class="color-2">Treatment:</span> Dropfoot correction</li>
                    <li><span class="color-2">Device type:</span> AFO</li>
                    <li><span class="color-2">Process:</span> MFJ 3d printing</li>
                    <li><span class="color-2">Material:</span> Nylone 12 dyed black</li>
                </ul>
            </div>
            <div class="device-image-container col-lg-8">
                <img class="device-image" src="assets/demo/Ramproof.jpg">
            </div>
        </div>
    </div>
    <div class="device-info">
        <h6>Cost</h6>
        <div class="row">
            <div class="col-lg-4">
                <ul class="device-details">
                    <li><span class="color-2">Typical cost:</span> $453</li>
                    <li><span class="color-2">Shipping:</span> $50</li>
                    <li><span class="color-2">Licencing fee, Flyband flow designer:</span> $17</li>
                    <li><span class="color-2">Total Cost:</span> $520</li>
                </ul>
            </div>
            <div class="device-image-container col-lg-8">
                <img class="device-image" src="assets/demo/RibProof5.jpg">
            </div>
        </div>
    </div>
    <div class="notes">
        <h6>Practitioner Notes:</h6>
        <p>
            Ulcer behind medial metatarcel head, provide clearance andcutoutto accommodate, scan tofollow.
        </p>
        <p>
            5 degree correction of ankle tamarack joints
        </p>
    </div>    
</div>