.folder-nav{
    transition: all 500ms;
    width: 15%;
}

.folder-nav > *{
    margin-bottom: 20px;
}

.main-content{
    margin: 0;
    height: 100%;
}
.folder-list-container > *{
    margin-top: 10px;
}

@media (max-width: 1405px) {
    .folder-nav{  
        width: 16%;
    }
}

@media (max-width: 990px) {
    .folder-nav{  
        width: 30%;
    }
}

@media (max-width: 767px) {
    .folder-nav{  
        width: 100%;
    }
}