<div appIsLoggedIn>
    <div>
        <div>
            <app-action-bar></app-action-bar>
        </div>
    </div>
    <div class="row main-content">
        <div class="folder-nav">
            <div>
                <app-file-manager></app-file-manager>
            </div>
            <div>
                <app-folder-nav></app-folder-nav>
            </div>
            <div>
                <app-tags></app-tags>
            </div>
            <div>
                <app-trash></app-trash>
            </div>
        </div>
        <div class="col-md-8 col-lg-10">
            <div>
                <app-dash-nav></app-dash-nav>
            </div>
            <div>
                <app-main-nav></app-main-nav>
            </div>
            <div>
                <app-chart-list></app-chart-list>
            </div>
            <div class="row folder-list-container">
                <div class="col-lg-4">
                    <div>
                        <app-search-container></app-search-container>
                    </div>
                    <div>
                        <app-folder-card-list></app-folder-card-list>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div style="height:200px;">
                        <app-folder-card-details></app-folder-card-details>
                    </div>
                    <div>
                        <app-dash-comments></app-dash-comments>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
