<div appIsLoggedIn>
    <div>
        <div>
            <app-action-bar></app-action-bar>
        </div>
    </div>
    <div class="row main-content">
        <div class="folder-nav">
            <div>
                <app-file-manager></app-file-manager>
            </div>
            <div>
                <app-folder-nav></app-folder-nav>
            </div>
            <div>
                <app-tags></app-tags>
            </div>
            <div>
                <app-trash></app-trash>
            </div>
        </div>
        <div class="col-md-8 col-lg-10">
            <p>main-dash works!</p>
        </div>
    </div>
</div>
