<div>
    <h6 class="file-manager-header">File Manager</h6>
    <div class="file-manager-list">
        <mat-icon 
        class="material-icons-outlined" 
        aria-hidden="false" 
        aria-label="request activity">favorite_outlined
    </mat-icon>
        <span>
            Recent Activity
        </span>
    </div>
    <div class="file-manager-list">
        <mat-icon 
        class="material-icons-outlined" 
        aria-hidden="false" 
        aria-label="request activity">drive_file_rename_outline
    </mat-icon>
        <span>
            Request Revision
        </span>
    </div>
</div>