<div class="custom-field">
    <ng-container *ngIf="fieldType === fieldTypes.text">
        <div class="input-group">
            <div class="input-group-prepend">
                <span 
                class="input-group-text"
                (click)="$event.stopPropagation()">
                    {{field.name}}
                </span>
            </div>
            <input 
            class="form-control"
            [formControl]="valueControl"
            required
            type="text"
            name="field-value"
            (click)="$event.stopPropagation()">
        </div> 
    </ng-container>
    <ng-container *ngIf="fieldType === fieldTypes.number">
        <div class="input-group">
            <div class="input-group-prepend">
                <span 
                class="input-group-text"
                (click)="$event.stopPropagation()">
                    {{field.name}}
                </span>
            </div>
            <input 
            class="form-control"
            [formControl]="valueControl"
            required
            type="number"
            name="field-value"
            (click)="$event.stopPropagation()">
        </div> 
    </ng-container>
    <ng-container *ngIf="fieldType === fieldTypes.dropdown">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label 
                class="input-group-text" 
                for="field-types"
                (click)="$event.stopPropagation()">
                    {{field.name}}
                </label>
            </div>
            <select 
            class="custom-select" 
            id="field-types"
            [formControl]="valueControl"
            name="field-value">
                <option value="null">None</option>
                <option 
                *ngFor="let option of field.fieldOptions"
                [value]="option">
                    {{option}}
                </option>
            </select>
        </div>
    </ng-container>
    <ng-container *ngIf="fieldType === fieldTypes.radio">
        <div class="flex-col">
            <label id="custom-radio">{{field.name}}</label>
            <mat-radio-group
            class="flex-col"
            aria-labelledby="custom-radio" 
            aria-label="Select an option"
            [formControl]="valueControl">
                <mat-radio-button 
                *ngFor="let option of field.fieldOptions"
                [value]="option"
                value="1">
                    {{option}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </ng-container>
    <ng-container *ngIf="fieldType === fieldTypes.checkbox">
        <div class="flex-col">
            <label>{{field.name}}</label>
            <mat-checkbox 
            class="example-margin"
            *ngFor="let option of field.fieldOptions;let i = index;"
            (change)="checkboxChanged($event,i)">
                {{option}}
            </mat-checkbox>
        </div>
    </ng-container>
    <ng-container *ngIf="fieldType === fieldTypes.date">
        <mat-form-field>
            <mat-label>{{field.name}}</mat-label>
            <input 
            [formControl]="valueControl"
            matInput 
            [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </ng-container>
    <ng-container *ngIf="fieldType === fieldTypes.file">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Upload File</span>
            </div>
            <div class="custom-file">
                <input 
                (change)="onFileSelected($event)" 
                type="file" 
                class="custom-file-input" 
                id="inputGroupFile01">
                <label 
                class="custom-file-label" 
                for="inputGroupFile01"
                >
                    {{field.name}}
                </label>
            </div>
          </div>
    </ng-container>
    <ng-container *ngIf="fieldType === fieldTypes.image">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Upload Image</span>
            </div>
            <div class="custom-file">
                <input 
                (change)="onFileSelected($event)" 
                type="file" 
                class="custom-file-input" 
                id="inputGroupFile01">
                <label 
                class="custom-file-label" 
                for="inputGroupFile01"
                >
                    {{field.name}}
                </label>
            </div>
          </div>
    </ng-container>
</div>