<div class="custom-field">
    <ng-container *ngIf="fieldType === fieldTypes.text">
        <div class="input-group">
            <div class="input-group-prepend">
                <span 
                class="input-group-text"
                (click)="$event.stopPropagation()">
                    {{field.name}}
                </span>
            </div>
            <input 
            class="form-control"
            [(ngModel)]="fieldValue.value"
            required
            type="text"
            name="field-value"
            (click)="$event.stopPropagation()">
        </div> 
    </ng-container>
    <ng-container *ngIf="fieldType === fieldTypes.number">
        <div class="input-group">
            <div class="input-group-prepend">
                <span 
                class="input-group-text"
                (click)="$event.stopPropagation()">
                    {{field.name}}
                </span>
            </div>
            <input 
            class="form-control"
            [(ngModel)]="fieldValue.value"
            required
            type="number"
            name="field-value"
            (click)="$event.stopPropagation()">
        </div> 
    </ng-container>
    <ng-container *ngIf="fieldType === fieldTypes.dropdown">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label 
                class="input-group-text" 
                for="field-types"
                (click)="$event.stopPropagation()">
                    {{field.name}}
                </label>
            </div>
            <select 
            class="custom-select" 
            id="field-types"
            [(ngModel)]="fieldValue.value"
            (change)="typeChange()"
            name="field-value">
                <option value="null">None</option>
                <option 
                *ngFor="let option of field.fieldOptions"
                [value]="option">
                    {{option}}
                </option>
            </select>
        </div>
    </ng-container>
    <ng-container *ngIf="fieldType === fieldTypes.radio">
        <div class="flex-col">
            <label id="custom-radio">{{field.name}}</label>
            <mat-radio-group
            class="flex-col"
            aria-labelledby="custom-radio" 
            aria-label="Select an option"
            [(ngModel)]="fieldValue.value">
                <mat-radio-button 
                *ngFor="let option of field.fieldOptions"
                [value]="option"
                value="1">
                    {{option}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </ng-container>
    <ng-container *ngIf="fieldType === fieldTypes.checkbox">
        <div class="flex-col">
            <label>{{field.name}}</label>
            <mat-checkbox 
            class="example-margin"
            *ngFor="let option of field.fieldOptions;let i = index;"
            [ngModel]="fieldValue.value[i]">
                {{option}}
            </mat-checkbox>
        </div>
    </ng-container>
</div>