.folder-header{
    display: flex;
    align-items: center;
    height: 24px;
}

.folder-header:hover{
    cursor: pointer;
}

.folder-name{
    margin-left: 5px;
}

.open-icon{
    transition: 500ms all;
}

.close-icon{
    transform: rotate(90deg);
}

.folder-total{
    flex: 1;
    text-align: right;
}

.selected{
    background-color: rgba(129,135,150,0.5);
}

.folder{
    padding: 5px;
}