<div 
[ngStyle]="{'margin-left':folderSpace + 'px'}"
[ngClass]="{
    'folder':true,
    'selected':isSelected
}">
    <div 
    matRipple 
    class="folder-header text-overflow-container"
    (click)="expandFolder()"
    [matTooltip]="folder.name">
        <mat-icon 
        [ngClass]="{
            'open-icon':true,
            'close-icon':folderExpanded
        }"
        aria-hidden="false" 
        aria-label="expand folder">chevron_right</mat-icon>
        <mat-icon 
        class="material-icons-outlined" 
        aria-hidden="false" 
        aria-label="expand folder">folder_outline</mat-icon>
        <span class="folder-name text-overflow-element">
            {{folder.name}}
        </span>
        <span class="folder-total">
            {{folderCount}}
        </span>
    </div>
    <div class="folder-items">
        <div *ngIf="folderExpanded" [@enterAnimation]>
            <ng-container *ngIf="!folder.customSort">
                <ng-container *ngIf="folder.subFolders">
                    <ng-container *ngFor="let folder of folder.subFolders">
                        <app-folder-nav-item 
                        [item]="folder"
                        [folderSpace]="childAdjustedSpacing"></app-folder-nav-item>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="folder.files">
                    <ng-container *ngFor="let file of folder.files">
                        <app-folder-nav-item 
                        [item]="file"
                        [folderSpace]="childAdjustedSpacing"></app-folder-nav-item>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="folder.customSort">
                <ng-container *ngFor="let item of combinedItems">
                    <app-folder-nav-item 
                    [item]="item"
                    [folderSpace]="childAdjustedSpacing"></app-folder-nav-item>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>