<div>
    <div class="flex-vertical-center header-container">
        <ng-container *ngIf="!editMode">
            <h4 class="flex-header">{{formHeader}}</h4>
        </ng-container>
        <ng-container *ngIf=editMode>
            <input 
            class="form-control"
            [(ngModel)]="formName"
            required
            type="text"
            name="section-name"
            (click)="$event.stopPropagation()">
            <button
            class="blank-button icon-button-sizing"
            (click)="$event.stopPropagation(); onConfirmClicked();"
            matRipple
            matTooltip="Save Edits">
                <mat-icon [inline]="true">
                    check
                </mat-icon>
            </button>
            <button
            [ngClass]="{
                'blank-button':true, 
                'icon-button-sizing':true
            }"
            (click)="$event.stopPropagation();onCancelClicked();"
            matRipple
            matTooltip="Cancel Field Edits">
                <mat-icon [inline]="true">
                    close
                </mat-icon>
            </button>
        </ng-container>
        <app-form-edit-controls 
        [hidden]="false"
        (editModeUpdated)="setEditMode($event)"
        (addNewSection)="sectionAdded()"
        (addNewField)="fieldAdded()"></app-form-edit-controls>
    </div>
    <app-form-selector
    (formSelected)="formSelected($event)"></app-form-selector>
    <div class="custom-form">
        <app-custom-form 
        [form]="form"
        [children]="form?.combinedChildren"></app-custom-form>
    </div>
</div>
