.folder-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.create-form-button{
    width: 100%;
    text-align: end;
    padding: 0;
}