/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-overflow-container{
    white-space: nowrap;
}

.text-overflow-element{
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.col-xs-0, 
.col-sm-0,
.col-md-0,
.col-lg-0 {
  flex: 0 0 0;
  max-width: 0;
}

.icon-container{
  display: flex;
}

.icon-spacing{
  margin-right: 10px;
}

.color-1,.fc-col-header-cell-cushion{
  color: white;
}

.color-2,.fc-daygrid-day-number{
  color: lightgray;
}

.primary-button{
  background-color: #6dc8bf !important;
}

.background-1{
  background-color: #1e262b;
}

.background-2,.fc-daygrid{
  background-color: #2b343a;
}

.scan-taken{
  background-color: #cbdb2a !important;
}

.approved{
  background-color: #524fa1 !important;
}

.production{
  background-color: #ed1c24 !important;
}