/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-overflow-container{
    white-space: nowrap;
}

.text-overflow-element{
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.col-xs-0, 
.col-sm-0,
.col-md-0,
.col-lg-0 {
  flex: 0 0 0;
  max-width: 0;
}

.icon-container{
  display: flex;
}

.icon-spacing{
  margin-right: 10px;
}

.color-1,.fc-col-header-cell-cushion,.fc-toolbar-title{
  color: white !important;
}

.color-2,.fc-daygrid-day-number{
  color: lightgray !important;
}

.primary-button{
  background-color: #6dc8bf !important;
}

.background-1{
  background-color: #1e262b !important;
}

.background-2,.fc-daygrid{
  background-color: #2b343a !important;
}

.background-3{
  background-color: rgb(30,43,49) !important;
}

.background-4{
  background-color: rgb(26,36,41) !important;
}

.background-5{
  background-color: rgb(41,51,58) !important;
}

.background-6{
  background-color: rgb(48,51,58) !important;
}

.link{
  color: white !important;
}

.scan-taken{
  background-color: rgb(117,192,67) !important;
}

.approved{
  background-color: #524fa1 !important;
}

.production{
  background-color: #ed1c24 !important;
}

.base-padding{
  padding: 10px;
}

.sub-padding{
  padding: 5px;
}

.app-container{
  height: 100%;
}

.full-input{
  width: 100%;
}

.open-icon{
  transition: 500ms all;
}

.close-icon{
  transform: rotate(90deg);
}

.flex{
  display: flex;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-horizontal-center{
  display: flex;
  justify-content: center;
}

.flex-vertical-center{
  display: flex;
  align-items: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.blank-button{
  background-color: inherit;
  border: none;
}

.hidden{
  visibility: hidden;
}

.icon-button-sizing{
  font-size: 21px;
}

.header,.flex-header{
  margin-bottom: 0;
}

.flex-header{
  flex: 1;
}


.no-style-list{
  list-style: none;
  padding: 0;
  margin: 0;
}