<div>
    <div>
        <h5>Patient ID: {{file.patientId}}</h5>
    </div>
    <div>
        <ul class="no-style-list">
            <li>
                <span>
                    Activity Level:
                </span>
                <span>
                    {{file.activityLevel}}
                </span>
            </li>
            <li>
                <span>
                    Height (cm):
                </span>
                <span>
                    {{file.height}}
                </span>
            </li>
            <li>
                <span>
                    Weight (lbs):
                </span>
                <span>
                    {{file.weight}}
                </span>
            </li>
        </ul>
    </div>
</div>
